<p id="notice"><%= notice %></p>

<h1>Peers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Bio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @peers.each do |peer| %>
      <tr>
        <td><%= peer.user %></td>
        <td><%= peer.name %></td>
        <td><%= peer.bio %></td>
        <td><%= link_to 'Show', peer %></td>
        <td><%= link_to 'Edit', edit_peer_path(peer) %></td>
        <td><%= link_to 'Destroy', peer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Peer', new_peer_path %>
